/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/inventory_qr/1344.png
public/inventory_qr/1345.png
public/inventory_qr/1352.png
public/inventory_qr/1413.png
public/inventory_qr/1414.png
public/inventory_qr/1518.png
public/inventory_qr/1531.png
public/inventory_qr/470.png
public/inventory_qr/488.png
public/inventory_qr/508.png
public/inventory_qr/510.png
public/inventory_qr/1346.png
public/inventory_qr/1347.png
public/inventory_qr/1350.png
public/inventory_qr/1354.png
public/inventory_qr/1362.png
public/inventory_qr/1415.png
public/inventory_qr/1418.png
public/inventory_qr/78.png
public/inventory_qr/344.png
public/inventory_qr/1357.png
public/inventory_qr/1370.png
public/inventory_qr/565.png
